.App{
    height: 100%;
}

@media screen and (max-width: 600px){
    .main-container{
        height: 100%;
        display: flex;
        background-color: #dcc7c0;
        flex-direction: column-reverse;
        align-items: center;
    }
}

.main-container{
    height: 100%;
    display: flex;
    background-color: #dcc7c0;
}

.begin-stories{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.title-description{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description{
    width: 50%;
}

.btn-options{
    margin: 0 0 45% 0;
}

@media screen and (max-width: 600px){
    .photo {
        width: 30%;
        display: flex;
        justify-content: center;
    }
}

.photo img{
    width: 100%;
    max-width: 500px;
    height: auto;
}


